# The Cooke-Kasami-Younger (CKY) Algorithm

In [1]:
import pandas as pd
import numpy as np
%pylab inline
pylab.style.use('ggplot')

Populating the interactive namespace from numpy and matplotlib

# Context Free Grammar

A CFG is a 4-tuple $G = (N, \Sigma, P, S)$ where 

* $N$ is finite set of non-terminals.
* $\Sigma$ is a finite set of terminals ($\Sigma \cap N = \phi$).
* $P$ is a set of rules or Productions.
* $S$ is the start symbol in $N$.

Each rule in $P$ is of the form $\alpha \rightarrow \beta$ where $\alpha \in N$ and $\beta \in (N \cup \Sigma)*$

# Chomsky Normal Form

A further restriction we like to apply is that all the Productions in $P$ are in Chomsky Normal Form (CNF). This implies every rule in $P$ is either of the type $T \rightarrow A B$ or $T \rightarrow x$, where $T, A, B$ are non-terminals and $x$ is a terminal.

# The CKY Algorithm

The CKY Algorithm is a bottom-up implementation

In [2]:
lexicon = pd.DataFrame.from_records([
        ('VT', 'saw'),
        ('DET', 'a'),
        ('DET', 'the'),
        ('N', 'dragon'),
        ('N', 'boy'),
        ('ADJ', 'young')
    ], columns=['pos_tag', 'word'])

In [3]:
lexicon

  pos_tag    word
0      VT     saw
1     DET       a
2     DET     the
3       N  dragon
4       N     boy
5     ADJ   young

In [4]:
productions = pd.DataFrame.from_records([
        ('S', ('NP', 'VP')),
        ('VP', ('VT', 'NP')),
        ('NP', ('DET', 'N')),
        ('N', ('ADJ', 'N'))], columns=['left', 'right'])

In [5]:
productions

  left     right
0    S  (NP, VP)
1   VP  (VT, NP)
2   NP  (DET, N)
3    N  (ADJ, N)

Now let's pick a sentence to parse:

In [6]:
sentence = ['the', 'young', 'boy', 'saw', 'a', 'dragon']

The first step is to define a table or a chart, with one column per word in sententence, and with n-1 rows, where n is the number of words in the sentence.

In [7]:
chart = pd.DataFrame(data='', index=np.arange(0, len(sentence)), columns=sentence)

In [8]:
chart

  the young boy saw a dragon
0
1
2
3
4
5

Next, we fill diagonals of the chart with the non-terminals for each word using the lexicon.

In [9]:
tags = [lexicon.loc[lexicon.word == w].pos_tag.values[0] for w in sentence]

In [10]:
chart.values[np.diag_indices_from(chart.values)] = tags

In [11]:
chart

   the young boy saw    a dragon
0  DET
1        ADJ
2              N
3                 VT
4                     DET
5                              N